.grid-container {
    height: 100%;
    display: grid;
    grid-template-columns: 3fr 5fr;
    grid-gap: 3px;
} 

#info {
    font-size: 14px;
}

#map {
    font-size: 12px;
}

#panel {
    font-size: 18px;
}

/* #bar {
} */

#info, #map, #panel, #bar {
    border: 2px solid black;
    border-radius: 2px;
    padding: 16px;
}

#map, #bar {
    font-weight: bold;
}

/* h1 {
} */

h2 {
    font-size: 24px;
}

/* h3 {
} */

h1, h2, h3 {
    text-align: center;
}